.container{
  
}

h1{
    text-align: center;
    
} 
h2{
    text-align: center;

}

#pic1{
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

#pic2{
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

#pic3{
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

#pic4{
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

#pic5{
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}

#pic6{
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 10px;
}